.test {
    height: 100vh;
    width: 100vw;
    background-color: orange;


    //&.hide {
    //    -webkit-mask: url("./assets/images/urban-sprite.png");
    //    mask: url("./assets/images/urban-sprite.png");
    //    -webkit-mask-size: 3000% 100%;
    //    mask-size: 3000% 100%;
    //    -webkit-animation: mask-play 1.4s steps(29) forwards;
    //}
}



.test-wrapper {
    height: 100vh;
    width: 100vw;
}

.test-content {
    background-color: red;
    height: 100vh;
    width: 100vw;
}