.home {
    background-color: $bg;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__baseline {
        color: white;
        font-weight: 600;
        font-size: 4rem;
        text-align: center;
    }

    &__title {
        font-size: 20vw;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 600;
        opacity: .1;
        transform: translate3d(-50%, -50%, 0);
    }

    &__input {
        display: block;
        margin-top: 3rem;
        border-radius: .5rem;
        background-color: #0e0e0d;
        border: none;
        width: calc(100% - 2rem);
        height: 4rem;
        padding: 1rem;
        color: white;
        font-family: $font;
        font-weight: 500;
        font-size: 2rem;
        position: relative;
        z-index: 2;
    }

    &__action {
        margin-top: 3rem;
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        position: relative;
        z-index: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: .5rem;
        border: none;
        line-height: 4.5rem;
        color: white;
        font-family: $font;
        font-weight: 600;
        padding: 0 2rem; 
        background-color: #007573;
        cursor: pointer;
        margin-left: 4rem;
    }
}