// Color
$bg: #181815;
$one: #2028eb;
$two: #f9d7d3;
$three: #93f8e1;

// Fonts
$font: "Poppins";

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$lg: 1200px;

html, body {
    padding: 0;
    margin: 0;
    font-family: $font;
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    background-color: $one;
    background-image: url("./assets/images/background-pattern.svg");
    background-size: 265%;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (min-width: $md) {
        background-size: 115%;
    }
}

* {
    box-sizing: border-box;
}

#app, #app__wrapper {
    height: 100%;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: made;
    src: url("./assets/fonts/MADE Evolve Sans Bold EVO.otf") format("opentype");
}

// Import Views
@import "./views/Character/index.scss";
@import "./views/Home/index.scss";
@import "./views/Game/index.scss";
@import "./views/Cards/index.scss";
@import "./views/Welcome/index.scss";
@import "./views/Test/index.scss";
@import "./views/Selection/index.scss";
@import "./views/Board/index.scss";
@import "./views/PageTransition/index.scss";

// Import Components
@import "./components/CharacterSlider/index.scss";
@import "./components/button.scss";
@import "./components/input.scss";
@import "./components/Toaster/index.scss";